<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CRM/js/jquery-easyui-1.4.3/themes/default/easyui.css">   
<link rel="stylesheet" type="text/css" href="/CRM/js/jquery-easyui-1.4.3/themes/icon.css">   
<script type="text/javascript" src="/CRM/js/assets/default/login/js/jquery-2.1.1.min.js"></script>   
<script src="/CRM/js/jquery.form.js" charset="utf-8"></script>
<script type="text/javascript" src="/CRM/js/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/CRM/js/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/CRM/js/echarts.js"></script>
<script type="text/javascript" th:inline="none">
var a;
var ids = "";
function tongji(){
	 var myEcharts = echarts.init(document.getElementById('myEcharts'));
	 $.post("/CRM/Consultant/clueEcharts",{},function(res){
		 if(res!=null){
			 var option = {
					    xAxis: {
					        type: 'category',
					        data: ['男性', '女性', '已完成', '已放弃', '正在跟进']
					    },
					    yAxis: {
					        type: 'value'
					    },
					    series: [{
					        data: [res[0]-res[1],res[1],res[0]-res[2]-res[3],res[3],res[2]],
					        type: 'bar'
					    }]
					};
				/* var option = {
					    tooltip: {
					        trigger: 'item',
					        formatter: "{a} <br/>{b}: {c} ({d}%)"
					    },
					    legend: {
					        orient: 'vertical',
					        x: 'left',
					        data:['男','女','已完成','正在跟进','已放弃']
					    },
					    series: [
					        {
					            name:'自己客户统计',
					            type:'pie',
					            selectedMode: 'single',
					            radius: [0, '30%'],

					            label: {
					                normal: {
					                    position: 'inner'
					                }
					            },
					            labelLine: {
					                normal: {
					                    show: false
					                }
					            },
					            data:[
					                {value:res[0]-res[1], name:'男'},
					                {value:res[1], name:'女'}
					            ]
					        },
					        {
					            name:'',
					            type:'pie',
					            radius: ['40%', '55%'],
					            label: {
					                normal: {
					                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
					                    backgroundColor: '#eee',
					                    borderColor: '#aaa',
					                    borderWidth: 1,
					                    borderRadius: 4,
					                    // shadowBlur:3,
					                    // shadowOffsetX: 2,
					                    // shadowOffsetY: 2,
					                    // shadowColor: '#999',
					                    // padding: [0, 7],
					                    rich: {
					                        a: {
					                            color: '#999',
					                            lineHeight: 22,
					                            align: 'center'
					                        },
					                        // abg: {
					                        //     backgroundColor: '#333',
					                        //     width: '100%',
					                        //     align: 'right',
					                        //     height: 22,
					                        //     borderRadius: [4, 4, 0, 0]
					                        // },
					                        hr: {
					                            borderColor: '#aaa',
					                            width: '100%',
					                            borderWidth: 0.5,
					                            height: 0
					                        },
					                        b: {
					                            fontSize: 16,
					                            lineHeight: 33
					                        },
					                        per: {
					                            color: '#eee',
					                            backgroundColor: '#334455',
					                            padding: [2, 4],
					                            borderRadius: 2
					                        }
					                    }
					                }
					            },
					            data:[
					                {value:res[2], name:'正在跟进'},
					                {value:res[3], name:'已放弃'},
					                {value:res[0]-res[2]-res[3], name:'已完成'}
					            ]
					        }
					    ]
					}; */
					myEcharts.setOption(option);
		  }
	 },"json");
	$("#tu").window("open");
}
var array = [];
	$(function(){
		dongtai();
		init();
	})
	function caozuo(value,row,index){
		return "<a class='easyui-linkbutton' onclick='select("+index+")' href='javascript:void(0);'>查看跟踪</a> <a class='easyui-linkbutton' onclick='upd("+index+")' href='javascript:void(0);'>修改</a> <a onclick='abandon("+index+")' class='easyui-linkbutton' href='javascript:void(0);'>放弃</a> <a onclick='complete("+index+")' class='easyui-linkbutton' href='javascript:void(0);'>完成</a>";		
	}
	function select(index){
		var data = $("#dg").datagrid("getData");
		var row = data.rows[index];
		var id = row.clue_Id;
		$("#xck").datagrid({
			 url:'/CRM/FollowUp/getFollowUpByclueId',   
			 method:"post",
			 pagination:true,
			 striped:true,
			    columns:[[ 
			        {field:'follwUp_Text',title:'跟进内容',width:100},
			        {field:'follwUp_Type',title:'跟进方式',width:100},
			        {field:'follwUp_Time',title:'开始时间',width:100},
			        {field:'follwUp_FirstVisitTime',title:'首访时间',width:100},
			        {field:'follwUp_Door',title:'是否上门',width:100},
			        {field:'follwUp_DoorTime',title:'上门时间',width:100},
			        {field:'follwUp_ReturnVisit',title:'是否回访',width:100},
			        {field:'follwUp_ReturnVisitTim',title:'回访时间',width:100},
			        {field:'follwUp_ReturnVisitSituation',title:'回访情况',width:100},
			        {field:'follwUp_EndTim',title:'结束时间',width:100},
			    ]],
			    queryParams:{
			    	num1:id
			    }
		});
		$("#chakan_window").window("open");
	}
	function upd(index){
		a = index;
		var data = $("#dg").datagrid("getData");
		var row = data.rows[index];
		$("#updclueForm").form("load",row);
		$("#updclue_dialog").window("open");
	}
	function abandon(index){
		var data = $('#dg').datagrid("getData");
		var id = data.rows[index].clue_Id;
		$.messager.confirm('确认','您确认想要放弃该客户吗？',function(r){    
		    if (r){    
		        $.post("updateFangQi",{
		        	id:id
		        },function(res){
		        	if(res>0){
		        		alert("该客户以放弃");
		        	}else{
		        		alert("该客户放弃失败");
		        	}
		        },"json")    
		    }    
		});
	}
	function complete(index){
		var data = $('#dg').datagrid("getData");
		var id = data.rows[index].clue_Id;
		$.messager.confirm('确认','您确认该客户跟踪完成了吗？',function(r){    
		    if (r){    
		        $.post("updateWanCheng",{
		        	id:id
		        },function(res){
					if(res>0){
		        		alert("完成");
		        	}else{
		        		alert("失败");
		        	}
		        },"json")
		    }    
		});
	}
	function init(){
		$('#dg').datagrid({    
		    url:'getCustomers',    
		    method:"post",
		    pagination:true,
		   /*  singleSelect:true, */
		    toolbar:"#headTool",
		    onCheck:function(index,row){
		    	array.push(row.clue_Id);
		    },
		    onUncheck:function(index,row){	  
		    	test(row.clue_Id);
		    },
		    columns:[[
		    	{field:'checkbox',width:100,checkbox:true,title:"复选框"},
		        {field:'clue_Name',title:'姓名',width:100},    
		        {field:'clue_Sex',title:'性别',width:100},    
		        {field:'clue_Age',title:'年龄',width:100},
		        {field:'clue_Birthday',title:'出生日期',width:100},
		        {field:'clue_Education',title:'学历',width:100},
		        {field:'clue_Direction',title:'课程方向',width:100},
		        {field:'clue_Source',title:'来源',width:100},
		        {field:'clue_IdentityNumber',title:'身份证号',width:100},
		        {field:'clue_Email',title:'电子邮箱',width:100},
		        {field:'clue_Qq',title:'QQ号',width:100},
		        {field:'clue_WeChat',title:'微信号',width:100,hidden:true},
		        {field:'clue_Tel',title:'电话',width:100},
		        {field:'clue_Address',title:'地区',width:100},
		        {field:'users',title:'创建人',width:100,formatter:users},
		        {field:'clue_CreateTime',title:'创建时间',width:100,hidden:true},
		        {field:'clue_Remarks',title:'备注',width:100},
		        /* {field:'clue_Status',title:'状态',width:100}, */
		         {field:'caozuo',title:'操作',width:150,formatter:caozuo}
		    ]],
		    queryParams:{
		    	text1:$("#name").val(),
		    	text2:$("#telephone").val(),
		    	text3:$("#qq").val(),
		    	text4:$("#min").datebox("getValue"),
		    	text5:$("#max").datebox("getValue")
		    }
		});
	}
	function test(id){
		for(var i=0;i<array.length;i++){
			if(array[i]==id){
				array.splice(i,1);
			}
		}
	}
	function users(value,row,index){
		return row.users.users_LoginName;
	}
	function dongtai(){
		var createGridHeaderContextMenu = function(e, field) {
			e.preventDefault();
			var grid = $(this);/* grid本身 */
			var headerContextMenu = this.headerContextMenu;/* grid上的列头菜单对象 */
			var okCls = 'tree-checkbox1';// 选中
			var emptyCls = 'tree-checkbox0';// 取消
			if (!headerContextMenu) {
				var tmenu = $('<div style="width:100px;"></div>').appendTo('body');
				var fields = grid.datagrid('getColumnFields');
				for (var i = 0; i < fields.length; i++) {
					var fildOption = grid.datagrid('getColumnOption', fields[i]);
					if (!fildOption.hidden) {
						$('<div iconCls="' + okCls + '" field="' + fields[i] + '"/>')
								.html(fildOption.title).appendTo(tmenu);
					} else {
						$('<div iconCls="' + emptyCls + '" field="' + fields[i] + '"/>')
								.html(fildOption.title).appendTo(tmenu);
					}
				}
				headerContextMenu = this.headerContextMenu = tmenu.menu({
					onClick : function(item) {
						var field = $(item.target).attr('field');
						if (item.iconCls == okCls) {
							grid.datagrid('hideColumn', field);
							$(this).menu('setIcon', {
								target : item.target,
								iconCls : emptyCls
							});
						} else {
							grid.datagrid('showColumn', field);
							$(this).menu('setIcon', {
								target : item.target,
								iconCls : okCls
							});
						}
					}
				});
			}
			headerContextMenu.menu('show', {
				left : e.pageX,
				top : e.pageY
			});
		};
		$.fn.datagrid.defaults.onHeaderContextMenu = createGridHeaderContextMenu;
		$.fn.treegrid.defaults.onHeaderContextMenu = createGridHeaderContextMenu;
	}
	function upd_Customer(){
		var data = $("#dg").datagrid("getData");
		var row = data.rows[a];
		var clue_Id = row.clue_Id;
		var clue_Name = $("#clue_Name").val();
		var clue_Sex = $("#clue_Sex").combobox("getVlaue");
		var clue_Age = $("#clue_Age").val();
		var clue_Birthday = $("#clue_Birthday").datebox("getValue");
		var clue_Education = $("#clue_Education").combobox("getValue");
		var clue_Direction = $("#clue_Direction").val();
		var clue_Source = $("#clue_Source").val();
		var clue_IdentityNumber = $("#clue_IdentityNumber").val();
		var clue_Email = $("#clue_Email").val();
		var clue_Qq = $("#clue_Qq").val();
		var clue_WeChat = $("#clue_WeChat").val();
		var clue_Tel = $("#clue_Tel").val();
		var clue_Address = $("#clue_Address").val();
		var clue_Remarks = $("#clue_Remarks").val();
		$.post("updateCustomer",{
			clue_Id:clue_Id,
			clue_Name:clue_Name,
			clue_Sex:clue_Sex,
			clue_Age:clue_Age,
			clue_Birthday:clue_Birthday,
			clue_Education:clue_Education,
			clue_Direction:clue_Direction,
			clue_Source:clue_Source,
			clue_IdentityNumber:clue_IdentityNumber,
			clue_Email:clue_Email,
			clue_Qq:clue_Qq,
			clue_WeChat:clue_WeChat,
			clue_Tel:clue_Tel,
			clue_Address:clue_Address,
			clue_Remarks:clue_Remarks
		},function(res){
			if(res>0){
				alert("修改成功");
				$("#updclue_dialog").window("close");
	            $("#dg").datagrid("reload");
			}else{
				alert("修改失败");
			}
		},"json")
	}
	function wancheng(){
		$('#wc').datagrid({
			url:'getByComplete',    
		    method:"post",
		    pagination:true,
		    singleSelect:true,
		    columns:[[    
		        {field:'clue_Name',title:'姓名',width:100},    
		        {field:'clue_Sex',title:'性别',width:100},    
		        {field:'clue_Age',title:'年龄',width:100},
		        {field:'clue_Birthday',title:'出生日期',width:100},
		        {field:'clue_Education',title:'学历',width:100},
		        {field:'clue_Direction',title:'课程方向',width:100},
		        {field:'clue_Source',title:'来源',width:100},
		        {field:'clue_IdentityNumber',title:'身份证号',width:100},
		        {field:'clue_Email',title:'电子邮箱',width:100},
		        {field:'clue_Qq',title:'QQ号',width:100},
		        {field:'clue_WeChat',title:'微信号',width:100},
		        {field:'clue_Tel',title:'电话',width:100},
		        {field:'clue_Address',title:'地区',width:100},
		        {field:'EstablishUsers',title:'创建人',width:100,formatter:EstablishUsers},
		        {field:'clue_CreateTime',title:'创建时间',width:100},
		         /*{field:'clue_UpdateTime',title:'更新时间',width:100},
		        {field:'clue_BginTime',title:'线索开始时间',width:100},
		        {field:'clue_EndTime',title:'线索结束时间',width:100}, */
		        {field:'clue_Remarks',title:'备注',width:100}
		        /* {field:'clue_Status',title:'状态',width:100}, */
		    ]]
		});
		$("#wcclue_dialog").window("open");
	}
	function EstablishUsers(value,row,index){
		return row.users.users_LoginName;
	}
	function show(){
		var datagridTitle = new Array();
		var shuxing = new Array();
        var fields = $("#dg").datagrid('getColumnFields');
        var option;
             for (var i = 0; i < fields.length; i++) {
                option = $("#dg").datagrid('getColumnOption', fields[i]);
                datagridTitle.push(option.title);
                shuxing.push(option.field);
               if (option.field != "checkItem" && option.hidden != true) { 
               		$("#lie_window").append("<input type='checkbox' value="+shuxing[i]+"  name='ch'>"+datagridTitle[i]+"</br>");
               		$("input[name='ch']").get(i).checked=true;
                }else{
                	$("#lie_window").append("<input type='checkbox' value="+shuxing[i]+" name='ch' >"+datagridTitle[i]+"</br>");
                } 
            }
		$("#lie_window").window("open");
		$("input[name='ch']").click(function(){
				if($(this).is(":checked")){
					var p = $(this).val();
					$("#dg").datagrid('showColumn',p);
				}else{
					var q = $(this).val();
					$("#dg").datagrid('hideColumn',q);
				}
		})
	}
	function xuanzhong(){
		if(array.length>0){
			for(var i=0;i<array.length;i++){
				ids+=array[i]+",";
		}
		 		ids=ids.substring(0,ids.length-1);
				window.location.href="/CRM/Consultant/getClueById?ids="+ids;
				ids=""; 
		}else{
			alert("请选择一个复选框");
		}
}  

function quanbu(){
	window.location.href="/CRM/Consultant/getClueByPrincipal";
} 
</script>
</head>
<body>
	<table id="dg"></table>
	<div id="headTool">
	<div>   
        <label for="name">姓名:</label>   
        <input id="name" class="easyui-validatebox" type="text"/>   
    
        <label for="name">电话号码:</label>   
        <input id="telephone" class="easyui-validatebox" type="text"/>   
      
        <label for="name">QQ查询:</label>   
        <input id="qq" class="easyui-validatebox" type="text"/>   
       
        <label for="name">创建时间:</label>   
        <input id="min" class="easyui-datebox" type="text"/>-
        <input id="max" class="easyui-datebox" type="text"/>   
    </div>
    <a type="button" href="javascript:void(0);" onclick="init()" class="easyui-linkbutton">搜索</a>
    <a type="button" href="javascript:void(0)" onclick="show()" class="easyui-linkbutton">动态设置</a>
    <a type="button" href="javascript:void(0)" onclick="tongji()" class="easyui-linkbutton">统计图</a>
    <a href="javascript:void(0)" id="mb" class="easyui-menubutton"     
        data-options="menu:'#mm',iconCls:'icon-edit'">导出Excel</a>   
		<div id="mm">   
		    <div data-options="iconCls:'icon-redo'" onclick="quanbu()" id="quanbu">全部导出</div>   
		    <div data-options="iconCls:'icon-redo'" onclick="xuanzhong()" id="xuanzhong">选中导出</div>     
		</div>
    <a type="button" href="javascript:void(0);" onclick="wancheng()" class="easyui-linkbutton">查看完成</a>
</div>
<div id="updclue_dialog" class="easyui-dialog" title="修改客户信息" data-options="modal:true,closed:true,iconCls:'icon-save',buttons:[{
				text:'保存',
				handler:function(){
					upd_Customer();
				}
			},{
				text:'关闭',
				handler:function(){
					clear_Customer();
				}
			}]" style="width:500px;height:300px;padding:10px;">
         <form id="updclueForm">
                <table cellpadding="5">
                    <tr>
                        <td>姓名:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_Name" id="clue_Name"></input></td>
                    </tr>
                    <tr>
                        <td>性别:</td><!-- clue_Sex  clue_Sex-->
                        <td><select id="clue_Sex" name="clue_Sex" class="easyui-combobox" style="width:200px;" >   
							    <option value="男">男</option>   
							    <option value="女">女</option>   
							</select> 
                        
                        </td>
                    </tr>
                    <tr>
                        <td>年龄:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_Age" id="clue_Age"></input></td>
                    </tr>
                    <tr>
                        <td>出生日期:</td>
                        <td><input class="easyui-datebox" type="text" name="clue_Birthday" id="clue_Birthday"></input></td>
                    </tr>
                    <tr>
                        <td>学历:</td><!-- clue_Education -->
                        <td><select id="clue_Education" name="clue_Education" class="easyui-combobox"
						style="width: 100px;">
							<option value=''>--请选择--</option>
							<option value="大专">大专</option>
							<option value="高中">高中</option>
							<option value="中专">中专</option>
							<option value="初中">初中</option>
							<option value="本科">本科</option>
							<option value="其他">其他</option>
					</select></td>
                    </tr>
                    <tr>
                        <td>课程方向:</td><!-- clue_Direction -->
                        <td>
                        <select id="clue_Direction" name="clue_Direction" class="easyui-combobox"
						style="width: 100px;">
							<option value=''>--请选择--</option>
							<option value="软件开发">软件开发</option>
							<option value="软件设计">软件设计</option>
							<option value="网络营销">网络营销</option>
					</select>
                        </td>
                    </tr>
                    <tr>
                        <td>来源渠道:</td><!--  clue_Source-->
                        <td><select id="clue_Source" name="clue_Source" class="easyui-combobox"
						style="width: 100px;">
							<option value=''>--请选择--</option>
							<option value="未知">未知</option>
							<option value="百度">百度</option>
							<option value="百度移动端">百度移动端</option>
							<option value="360">360</option>
							<option value='360移动端'>360移动端</option>
							<option value="搜狗">搜狗</option>
							<option value="搜狗移动端">搜狗移动端</option>
							<option value="UC移动端">UC移动端</option>
							<option value="直接输入">直接输入</option>
							<option value="自然流量">自然流量</option>
							<option value="直电">直抵</option>
							<option value="微信">微信</option>
							<option value="QQ">QQ</option>

					</select>
                        
                        </td>
                    </tr>
                    <tr>
                        <td>身份证号:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_IdentityNumber" id="clue_IdentityNumber"></input></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_Email" id="clue_Email" data-options="validType:'email'"></input></td>
                    </tr>
                    <tr>
                        <td>QQ号:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_Qq" id="clue_Qq"></input></td>
                    </tr>
                    <tr>
                        <td>微信号:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_WeChat" id="clue_WeChat"></input></td>
                    </tr>
                    <tr>
                        <td>手机号:</td>
                        <td><input type="text" class="easyui-numberbox" name="clue_Tel" id="clue_Tel"></td>
                    </tr>  
                    <tr>
                        <td>地区:</td>
                        <td><input type="text" class="easyui-textbox" name="clue_Address" id="clue_Address"></td>
                    </tr>  
                    <tr>
                        <td>备注:</td>
                        <td><input class="easyui-textbox" type="text" name="clue_Remarks" id="clue_Remarks"></input></td>
                    </tr>
                </table>
         </form>
    </div> 
    <div id="wcclue_dialog" class="easyui-dialog" title="查看完成" data-options="modal:true,closed:true,iconCls:'icon-save',buttons:[{
				text:'关闭',
				handler:function(){
					clear_Customer();
				}
			}]" style="width:500px;height:300px;padding:10px;">
			<table id="wc"></table>
	</div>
	 <div id="lie_window" class="easyui-dialog" title="列设置" data-options="modal:true,closed:true,iconCls:'icon-add'" style="width:500px;height:300px;padding:10px;">
    </div>
    <div id="chakan_window" class="easyui-dialog" title="查看跟踪信息" data-options="modal:true,closed:true,iconCls:'icon-add'" style="width:1000px;height:500px;padding:10px;">
         <table id="xck"></table>
 </div>
 <div class="easyui-window" id="tu" style="width:800px;height: 500px;"  data-options="modal:true,closed:true,title:'客户统计分布'">
 	<div id="myEcharts" style="width: 500px;height: 400px;"></div>
 </div>
</body>
</html>