<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.RolesMapper">
		<select id="selectRolesByUsersId" parameterType="int" resultType="com.crm.entity.Roles">
		SELECT 
			* 
		FROM 
			roles 
		WHERE 
			roles_Id IN ( 
				SELECT 
					DISTINCT usersRoles_RoleId
	  			FROM 
	  				usersroles 
	  			WHERE usersRoles_UserId = #{roles_Id} 
	  			)
	</select>
	<select id="selectAllRolesDistinct"  resultType="com.crm.entity.Roles">
		SELECT 
			DISTINCT *
		FROM 
			roles 
	</select>
	<select id="selectAllRoles" parameterType="com.crm.entity.PageNation" resultType="com.crm.entity.Roles">
		SELECT 
			DISTINCT *
		FROM 
			roles 
		<where>
			<if test="text1 !=null and text1!='' ">
				AND roles_Name = #{text1}
			</if>
			 AND roles_Name !='管理员'
		</where>
		limit #{page},#{row}
	</select>
	<select id="selectAllRolesCount" parameterType="com.crm.entity.PageNation" resultType="int">
		SELECT 
			count(DISTINCT roles_Id)
		FROM 
			roles 
		<where>
			<if test="text1 !=null and text1!='' ">
				AND roles_Name = #{text1}
			</if>
			 AND roles_Name !='管理员'
		</where>
	</select>
	<insert id="insertRoles" parameterType="com.crm.entity.Roles">
		insert into roles (roles_Name)
		values(#{roles_Name})
	</insert>
	<delete id="deleteRoles" parameterType="int">
		DELETE 
		FROM roles WHERE NOT EXISTS (SELECT usersRoles_RoleId FROM usersroles WHERE usersRoles_RoleId = #{roles_Id})
		AND roles_Id = #{roles_Id}
	</delete>
	<update id="updateRoles" parameterType="com.crm.entity.Roles">
		update roles set roles_Name = #{roles_Name}
		where roles_Id = #{roles_Id}
	</update>
	<select id="selectRolesByRolesName" parameterType="com.crm.entity.Roles" resultType="com.crm.entity.Roles">
		select * from roles where roles_Name = #{roles_Name}
	</select>
	<delete id="deleteAllPermissiontbByRolesIdId" parameterType="int">
DELETE FROM permissiontb 
WHERE permissiontb_Id IN(
SELECT rolePermissiontb_PermissionId
FROM rolepermissiontb WHERE rolePermissiontb_RoleId IN(
SELECT roles_Id FROM roles WHERE roles_Id = #{roles_Id}
)
)
	</delete>
	<delete id="deleteAllRolePermissiontbByRolesId" parameterType="int">
		DELETE 
		FROM rolepermissiontb WHERE rolePermissiontb_RoleId =#{roles_Id}
	</delete>
	<insert id="insertPermissiontb" parameterType="com.crm.entity.Permissiontb" >
		insert into permissiontb  (permissiontb_Value,permissiontb_Module,permissiontb_Name,permissiontb_ModuleId)
		values(#{permissiontb_Value},#{permissiontb_Module},#{permissiontb_Name},#{permissiontb_ModuleId})
		<selectKey order="AFTER" resultType="int"  keyProperty="permissiontb_Id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="insertRolePermissiontb" parameterType="com.crm.entity.RolePermissiontb">
		INSERT INTO 
		rolepermissiontb (rolePermissiontb_RoleId,rolePermissiontb_PermissionId)
		values(#{rolePermissiontb_RoleId},#{rolePermissiontb_PermissionId})
	</insert>
</mapper>