<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.crm.mapper.StudentMapper">
 	<resultMap type="student" id="studentMap">
 		<id column="student_Id" property="student_Id"/>
 		<result column="student_Name" property="student_Name"/>
 		<result column="student_Sex" property="student_Sex"/>
 		<result column="student_Birthday" property="student_Birthday"/>
 		<result column="student_Source" property="student_Source"/>
 		<result column="student_IdentityNumber" property="student_IdentityNumber"/>
 		<result column="student_Email" property="student_Email"/>
 		<result column="student_Qq" property="student_Qq"/>
 		<result column="student_Tel" property="student_Tel"/>
 		<result column="student_Address" property="student_Address"/>
 		<result column="student_Creator" property="student_Creator"/>
 		<result column="student_CreateTime" property="student_CreateTime"/>
 		<result column="student_UpdateTime" property="student_UpdateTime"/>
 		<result column="student_Remarks" property="student_Remarks"/>
 		<result column="student_ClassId" property="student_ClassId"/>
 		<result column="student_Status" property="student_Status"/>
 		<result column="student_Amount" property="student_Amount"/>
 		<result column="student_Exit1" property="student_Exit1"/>
 		<result column="student_Exit2" property="student_Exit2"/>
 		<association property="classes" javaType="classes">
 			<id column="classes_Id" property="classes_Id"/>
 			<result column="classes_Name" property="classes_Name"/>
 			<result column="classes_CreateTime" property="classes_CreateTime"/>
 			<result column="classes_CounselorId" property="classes_CounselorId"/>
 			<result column="classes_SchoolYear" property="classes_SchoolYear"/>
 			<result column="classes_Campus" property="classes_Campus"/>
 			<result column="classes_Status" property="classes_Status"/>
 			<result column="classes_Exit1" property="classes_Exit1"/>
 			<result column="classes_Exit2" property="classes_Exit2"/>
 			<association property="users" javaType="users">
 				<id column="users_LoginName" property="users_LoginName"/>
 				<result column="users_Password" property="users_Password"/>
 				<result column="users_LsLockout" property="users_LsLockout"/>
 				<result column="users_LastLoginTime" property="users_LastLoginTime"/>
 				<result column="users_CreateTime" property="users_CreateTime"/>
 				<result column="users_PsdWrongTime" property="users_PsdWrongTime"/>
 				<result column="users_LockTime" property="users_LockTime"/>
 				<result column="users_ProTectEMail" property="users_ProTectEMail"/>
 				<result column="users_ProtectTel" property="users_ProtectTel"/>
 				<result column="users_Exit1" property="users_Exit1"/>
 				<result column="users_Exit2" property="users_Exit2"/>
 			</association>
 		</association>
 	</resultMap>
 	
 	<select id="selectStudent" resultMap="studentMap" parameterType="com.crm.entity.PageNation">
 		SELECT
			s.*,u.*,c.*
		FROM
			student s,
			users u,
			classes c 
		<where>
			<if test="text1 != '' and text1 != null">
				AND s.student_Name like CONCAT(CONCAT('%',#{text1}), '%')
			</if>
			<if test="text2 != '' and text2 != null">
				AND s.student_Sex = #{text2}
			</if>
			
			<if test="text3 != '' and text3 != null">
				AND s.student_Birthday &gt;=#{text3}
			</if>
			
			<if test="text4 != '' and text4 != null">
				AND s.student_Birthday &lt;=#{text4}
			</if>
			
			<if test="num2 !=null  ">
				AND s.student_Status = #{num2}
			</if>
			
				AND c.classes_CounselorId = u.users_Id
			
			
				AND u.users_Id = #{num1}
			
			
				AND s.student_ClassId = c.classes_Id 
			
		</where>
			
		limit #{page},#{row}
 	</select>
 	<select id="selectCount" resultType="int" parameterType="com.crm.entity.PageNation">
 		SELECT
			count(*)
		FROM
			student s,
			users u,
			classes c 
		<where>
			<if test="text1 != '' and text1 != null">
				AND s.student_Name like CONCAT(CONCAT('%',#{text1}), '%')
			</if>
			<if test="text2 != '' and text2 != null">
				AND s.student_Sex = #{text2}
			</if>
			
			<if test="text3 != '' and text3 != null">
				AND s.student_Birthday &gt;=#{text3}
			</if>
			
			<if test="text4 != '' and text4 != null">
				AND s.student_Birthday &lt;=#{text4}
			</if>
			
			<if test="num2 != null  ">
				AND s.student_Status = #{num2}
			</if>
			
				AND c.classes_CounselorId = u.users_Id
			
			
				AND u.users_Id = #{num1}
			
			
				AND s.student_ClassId = c.classes_Id 
			
			
		</where>
 	</select>
  </mapper>