<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CRM/js/jquery-easyui-1.4.3/themes/default/easyui.css">   
<link rel="stylesheet" type="text/css" href="/CRM/js/jquery-easyui-1.4.3/themes/icon.css">   
<script type="text/javascript" src="/CRM/js/assets/default/login/js/jquery-2.1.1.min.js"></script>   
<script src="/CRM/js/jquery.form.js" charset="utf-8"></script>
<script type="text/javascript" src="/CRM/js/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/CRM/js/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" th:inline="none">
	var classname;
	var teachername;
	$(function (){
		init();
	})
	function init(){
		$('#dg').datagrid({    
		    url:'/CRM/Student/selectStudent',
		    method:'post',
		    pagination:true,
		    toolbar:"#bar",
		    columns:[[    
		        {field:'student_Id',title:'学生ID'},    
		        {field:'student_Name',title:'姓名'},    
		        {field:'student_Sex',title:'性别'},
		       /*  {field:'student_Birthday',title:'生日'},
		        {field:'student_Source',title:'学员来源'},
		        {field:'student_IdentityNumber',title:'身份证号'},
		        {field:'student_Email',title:'邮箱'},
		        {field:'student_Qq',title:'QQ'}, */
		        {field:'student_Tel',title:'电话'},
		        {field:'student_Address',title:'地区'},
		        /* {field:'student_Creator',title:'跟进人'}, */
		        {field:'student_CreateTime',title:'入学时间'},
		        /* {field:'student_UpdateTime',title:'更新时间'},
		        {field:'student_Remarks',title:'备注'}, 
		        {field:'student_ClassId',title:'班级Id'},*/
		        {field:'student_Status',title:'缴费状态'},
		       /*  {field:'student_Amount',title:'缴费金额'}, */
		       	{field:'className',title:'班级名称',formatter:className},
		       	{field:'teacherName',title:'教师名称',formatter:teacherName},
		       	{field:'study',title:'操作',formatter:study},
		       	{field:'checkbox',checkbox:true}
		    ]],
		    queryParams:{
		    	text1:$("#text1").textbox('getValue'),
		    	text2:$("#text2").textbox('getValue'),
		    	text3:$("#text3").datetimebox('getValue'),
		    	text4:$("#text4").datetimebox('getValue'),
		    	num2:$("#num2").combobox('getValue')
		    }
		});  
	}
	/* 班级名称 */
	function className(value,row,index){
		classname=row.classes.classes_Name;
		return row.classes.classes_Name;
	}
	
	function teacherName(value,row,index){
		teachername=row.classes.users.users_LoginName;
		return row.classes.users.users_LoginName;
		
		// 就是有些路径问题需要注意注意   /CRM/然后写RequestMapping的映射名就行
		//如果是js文件  /CRM/写static文件夹里面的 文件然后往下引
		// /CRM/js/.............
	}
	
	function study(value,row,index){
		return "<a href='javascript:void(0)' onclick='chakan("+index+")'>查看详细信息</a>"
	}
	/*  <a href='javascript:void(0)' onclick='tuixue("+index+")'>退学</a>  */
	function chakan(index){
		var data = $("#dg").datagrid("getData");
		var row = data.rows[index];//点击哪一行的行对象里面有数据
		//选中文本框
		$("#className").textbox('setValue',classname);
		$("#teacherName").textbox('setValue',teachername);
		//进行赋值
		$("#chankanForm").form("load",row);
		$('#chankanwin').window('open');
	}
	
	function Excel(){
		var rows = $("#dg").datagrid("getChecked");
		var ids ="";
		for(var i=0;i<rows.length;i++){
			ids+=rows[i].student_Id+","
		}
		ids=ids.substring(0,ids.length-1);
		 var timestamp = (new Date()).valueOf();
		$.post("/CRM/Student/writeExcel",{
			ids:ids
		},function(res){
			
		},"json")
	} 
</script>
</head>
<body>
	<table id="dg"></table>
	<div id="bar">
		姓名：<input class="easyui-textbox" id="text1" name="text1" style="width:80px"/>  
		性别：<input class="easyui-textbox" id="text2" name="text2" style="width:80px"/> 
		入学时间：<input class="easyui-datetimebox" id="text3" name="text3" style="width:100px"/> -
			<input class="easyui-datetimebox" id="text4" name="text4" style="width:100px"/> 
		缴费状态：<select id="num2" class="easyui-combobox" name="num2">   
			    <option value="">--请选择--</option>   
			    <option value="0">未缴费</option>   
			    <option value="1">已缴费</option>   
				</select>  
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="init()" data-options="iconCls:'icon-search'">查询</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="Excel()" data-options="iconCls:'icon-save'">导出详细信息为Excel</a> 
	</div>
	<div id="chankanwin" class="easyui-window" title="学生详细信息" style="width:400px;height:500px"   
        data-options="iconCls:'icon-save',modal:true,closed:true">   
    <form action="" id="chankanForm">
    	<table id="chankanTable">
    		<tr>
    			<td>学生ID:</td>
    			<td><input class="easyui-textbox" id="student_Id" name="student_Id"/></td>
    		</tr>
    		<tr>
    			<td>姓名:</td>
    			<td><input class="easyui-textbox" id="student_Name" name="student_Name"/></td>
    		</tr>
    		<tr>
    			<td>性别:</td>
    			<td><input class="easyui-textbox" id="student_Sex" name="student_Sex"/></td>
    		</tr>
    		<tr>
    			<td>生日:</td>
    			<td><input class="easyui-textbox" id="student_Birthday" name="student_Birthday"/></td>
    		</tr>
    		<tr>
    			<td>学员来源:</td>
    			<td><input class="easyui-textbox" id="student_Source" name="student_Source"/></td>
    		</tr>
    		<tr>
    			<td>身份证号:</td>
    			<td><input class="easyui-textbox" id="student_IdentityNumber" name="student_IdentityNumber"/></td>
    		</tr>
    		<tr>
    			<td>邮箱:</td>
    			<td><input class="easyui-textbox" id="student_Email" name="student_Email"/></td>
    		</tr>
    		<tr>
    			<td>QQ:</td>
    			<td><input class="easyui-textbox" id="student_Qq" name="student_Qq"/></td>
    		</tr>
    		<tr>
    			<td>电话：</td>
    			<td><input class="easyui-textbox" id="student_Tel" name="student_Tel"/></td>
    		</tr>
    		<tr>
    			<td>地区：</td>
    			<td><input class="easyui-textbox" id="student_Address" name="student_Address"/></td>
    		</tr>
    		<tr>
    			<td>跟进人：</td>
    			<td><input class="easyui-textbox" id="student_Creator" name="student_Creator"/></td>
    		</tr>
    		<tr>
    			<td>入学时间：</td>
    			<td><input class="easyui-textbox" id="student_CreateTime" name="student_CreateTime"/></td>
    		</tr>
    		<tr>
    			<td>更新时间：</td>
    			<td><input class="easyui-textbox" id="student_UpdateTime" name="student_UpdateTime"/></td>
    		</tr>
    		<tr>
    			<td>备注:</td>
    			<td><input class="easyui-textbox" id="student_Remarks" name="student_Remarks"/></td>
    		</tr>
    		<tr>
    			<td>班级id:</td>
    			<td><input class="easyui-textbox" id="student_Remarks" name="student_Remarks"/></td>
    		</tr>
    		<tr>
    			<td>缴费状态：</td>
    			<td><input class="easyui-textbox" id="student_Status" name="student_Status"/></td>
    		</tr>
    		<tr>
    			<td>班级名称：</td>
    			<td><input class="easyui-textbox" id="className" name="classes_Name" /></td>
    		</tr>
    		<tr>
    			<td>教师名称：</td>
    			<td><input class="easyui-textbox" id="teacherName" name="users_LoginName"/></td>
    		</tr>
    	</table>
    </form>
    
	</div>  
</body>
</html>