<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/CRM/js/jquery-easyui-1.4.3/themes/default/easyui.css">   
<link rel="stylesheet" type="text/css" href="/CRM/js/jquery-easyui-1.4.3/themes/icon.css">   
<script type="text/javascript" src="/CRM/js/assets/default/login/js/jquery-2.1.1.min.js"></script>   
<script src="/CRM/js/jquery.form.js" charset="utf-8"></script>
<script type="text/javascript" src="/CRM/js/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/CRM/js/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" th:inline="none">
    var ids ="";
    var rows;
    var array = [];
    var array2 = [];
	var classname;
	var teachername;
	$(function (){
		init();
	})
	function init(){
		$('#dg').datagrid({    
		    url:'/CRM/Student/selectStudent',
		    method:'post',
		    pagination:true,
		    toolbar:"#bar",
		    onCheck:function(index,row){
		    	//rows = $("#dg").datagrid("getChecked");
		    
		    	array.push(row.student_Id);
		    },
		    onUncheck:function(index,row){
		    	  
		    	array2.push(row.student_Id);
		    	
		    	
		    	
		    	
		    	
		    	 /* ids=row.student_Id;
		    	alert(ids); 
		    	每次都是根据ids进行,号分割
		    		array = ids.split(",");//3
		    		for(var i=0;i<array.length;i++){
			    		if(array[i]==row.student_Id){
			    			alert("相等并进入");
			    			alert("数组"+i+"次数"+array[i]);
			    			array.splice(index,i); 
			    			alert(array+"移除以后的数组");
			    		}
			    	}
		    		ids ="";
		    		ids = array;
		    		alert("最终ids"+ids);
		    	  ids=array 
		    	 for(var i=0;i<array.length;i++){
		    		ids+=array[i]+","
		    	}  */
		    },
		    columns:[[    
		        {field:'student_Id',title:'学生ID'},    
		        {field:'student_Name',title:'姓名'},    
		        {field:'student_Sex',title:'性别'},
		       /*  {field:'student_Birthday',title:'生日'},
		        {field:'student_Source',title:'学员来源'},
		        {field:'student_IdentityNumber',title:'身份证号'},
		        {field:'student_Email',title:'邮箱'},
		        {field:'student_Qq',title:'QQ'}, */
		        {field:'student_Tel',title:'电话'},
		        {field:'student_Address',title:'地区'},
		        /* {field:'student_Creator',title:'跟进人'}, */
		        {field:'student_CreateTime',title:'入学时间'},
		        /* {field:'student_UpdateTime',title:'更新时间'},
		        {field:'student_Remarks',title:'备注'}, 
		        {field:'student_ClassId',title:'班级Id'},*/
		        {field:'student_Status',title:'缴费状态'},
		       /*  {field:'student_Amount',title:'缴费金额'}, */
		       	{field:'className',title:'班级名称',formatter:className},
		       	{field:'teacherName',title:'教师名称',formatter:teacherName},
		       	{field:'study',title:'操作',formatter:study},
		       	{field:'checkbox',checkbox:true}
		    ]],
		    queryParams:{
		    	text1:$("#text1").textbox('getValue'),
		    	text2:$("#text2").textbox('getValue'),
		    	text3:$("#text3").datetimebox('getValue'),
		    	text4:$("#text4").datetimebox('getValue'),
		    	text5:$("#text5").textbox('getValue'),
		    	num2:$("#num2").combobox('getValue')
		    }
		});  
	}
	/* 班级名称 */
	function className(value,row,index){
		classname=row.classes.classes_Name;
		return row.classes.classes_Name;
	}
	
	function teacherName(value,row,index){
		teachername=row.classes.users.users_LoginName;
		return row.classes.users.users_LoginName;
		
		// 就是有些路径问题需要注意注意   /CRM/然后写RequestMapping的映射名就行
		//如果是js文件  /CRM/写static文件夹里面的 文件然后往下引
		// /CRM/js/.............
	}
	
	function study(value,row,index){
		return "<a href='javascript:void(0)' onclick='chakan("+index+")'>查看详细信息</a>"
	}
	/*  <a href='javascript:void(0)' onclick='tuixue("+index+")'>退学</a>  */
	function chakan(index){
		var data = $("#dg").datagrid("getData");
		var row = data.rows[index];//点击哪一行的行对象里面有数据
		//选中文本框
		$("#className").textbox('setValue',classname);
		$("#teacherName").textbox('setValue',teachername);
		//进行赋值
		$("#chankanForm").form("load",row);
		$('#chankanwin').window('open');
	}
	
 	function xuanzhong(){
 			//循环1 次外层循环   
 			//内层循环所有
 			//
 		for(var i=0;i<array.length;i++){
 			for(var j=0;j<array2.length;j++){
 				if(array[i]==array2[j]){
 					
 					continue;
 				}
 				ids+=array[i]+",";
 			}
 		}
 		
 			
 		/* 	alert("选中的id2"+array);
 			alert("没选中的id2"+array2);
 			for(var i=0;i<array.length;i++){
 				if(array[i]!=null){
 					ids+=array[i]+",";
 				}
 			} */
 			    //就是点一下复选框就存起来
	 			//var rows = $("#dg").datagrid("getChecked");
	 	 		ids=ids.substring(0,ids.length-1);
	 			alert(ids);
	 			window.location.href="/CRM/Student/writeExcel?ids="+ids;
	 			/* $.post("/CRM/Student/writeExcel",{
	 				ids:ids
	 			},function(res){
	 				
	 			},"json") */
	 			ids=""; 
 		
		
	}  
 	
 	 function quanbu(){
 		window.location.href="/CRM/Student/selectAllwriteExcel";
 	} 
</script>
</head>

<body>
	<table id="dg" data-options="fitColumns:true" >  </table>
		
	<div id="bar">
		姓名：<input class="easyui-textbox" id="text1" name="text1" style="width:80px"/>  
		性别：<input class="easyui-textbox" id="text2" name="text2" style="width:80px"/> 
		入学时间：<input class="easyui-datetimebox" id="text3" name="text3" style="width:100px"/> -
			<input class="easyui-datetimebox" id="text4" name="text4" style="width:100px"/>
			班级名称：<input class="easyui-textbox" id="text5" name="text5" style="width:80px"/>  
		缴费状态：<select id="num2" class="easyui-combobox" name="num2">   
			    <option value="">--请选择--</option>   
			    <option value="0">未缴费</option>   
			    <option value="1">已缴费</option>   
				</select>  
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="init()" data-options="iconCls:'icon-search'">查询</a> 
		<a href="javascript:void(0)" id="mb" class="easyui-menubutton"     
        data-options="menu:'#mm',iconCls:'icon-edit'">导出Excel</a>   
		<div id="mm">   
		    <div data-options="iconCls:'icon-redo'" onclick="quanbu()" id="quanbu">全部导出</div>   
		    <div data-options="iconCls:'icon-redo'" onclick="xuanzhong()" id="xuanzhong">选中导出</div>     
		</div> 
	</div>
	
	
	<div id="chankanwin" class="easyui-window" title="学生详细信息" style="width:400px;height:500px"   
        data-options="iconCls:'icon-save',modal:true,closed:true">   
        
    <form action="" id="chankanForm">
    	<table id="chankanTable">
    		<tr>
    			<td>学生ID:</td>
    			<td><input class="easyui-textbox" id="student_Id" name="student_Id" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>姓名:</td>
    			<td><input class="easyui-textbox" id="student_Name" name="student_Name" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>性别:</td>
    			<td><input class="easyui-textbox" id="student_Sex" name="student_Sex" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>生日:</td>
    			<td><input class="easyui-textbox" id="student_Birthday" name="student_Birthday" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>学员来源:</td>
    			<td><input class="easyui-textbox" id="student_Source" name="student_Source" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>身份证号:</td>
    			<td><input class="easyui-textbox" id="student_IdentityNumber" name="student_IdentityNumber" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>邮箱:</td>
    			<td><input class="easyui-textbox" id="student_Email" name="student_Email" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>QQ:</td>
    			<td><input class="easyui-textbox" id="student_Qq" name="student_Qq" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>电话：</td>
    			<td><input class="easyui-textbox" id="student_Tel" name="student_Tel" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>地区：</td>
    			<td><input class="easyui-textbox" id="student_Address" name="student_Address" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>跟进人：</td>
    			<td><input class="easyui-textbox" id="student_Creator" name="student_Creator" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>入学时间：</td>
    			<td><input class="easyui-textbox" id="student_CreateTime" name="student_CreateTime" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>更新时间：</td>
    			<td><input class="easyui-textbox" id="student_UpdateTime" name="student_UpdateTime" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>备注:</td>
    			<td><input class="easyui-textbox" id="student_Remarks" name="student_Remarks" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>班级id:</td>
    			<td><input class="easyui-textbox" id="student_Remarks" name="student_Remarks" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>缴费状态：</td>
    			<td><input class="easyui-textbox" id="student_Status" name="student_Status" data-options="readonly:true"/></td>
    		</tr>
    		<tr>
    			<td>班级名称：</td>
    			<td><input class="easyui-textbox" id="className" name="classes_Name" data-options="readonly:true" /></td>
    		</tr>
    		<tr>
    			<td>教师名称：</td>
    			<td><input class="easyui-textbox" id="teacherName" name="users_LoginName" data-options="readonly:true"/></td>
    		</tr>
    	</table>
    </form>
    
	</div>  
</body>

<!-- <script type="text/javascript">
function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {
	//如果jsondata不是对象，那么json.parse将分析对象中的json字符串。
	var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
	var CSV = '';

	//在第一行拼接标题
	CSV += ReportTitle + '\r\n\n';
	//产生数据标头
	if (ShowLabel) {
		var row = "";
		//此循环将从数组的第一个索引中提取标签
		for ( var index in arrData[0]) {
			//现在将每个值转换为字符串和逗号分隔
			row += index + ',';
		}
		row = row.slice(0, -1);
		//添加带换行符的标签行
		CSV += row + '\r\n';
	}

	//第一个循环是提取每一行
	for (var i = 0; i < arrData.length; i++) {
		var row = "";

		for ( var index in arrData[i]) {
			row += '"' + arrData[i][index] + '",';
		}
		row.slice(0, row.length - 1);
		CSV += row + '\r\n';
	}
	if (CSV == '') {
		alert("Invalid data");
		return;
	}
	var fileName = "我的学生_";
	fileName += ReportTitle.replace(/ /g, "_");
	var uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURI(CSV);
	var link = document.createElement("a");
	link.href = uri;
	link.style = "visibility:hidden";
	link.download = fileName + ".csv";
	document.body.appendChild(link);
	link.click();
	document.body.removeChild(link);
}
$("#btnExport").click(function() {
	var rows=$("#dg").datagrid("getSelections");
	if(rows.length==0||rows==null){
		$.messager.alert("系统信息","请选择你要导出的数据");
		return ;
	}
	var data = JSON.stringify(rows);
	if (data == '')
		return;
	JSONToCSVConvertor(data, "数据信息", true);
});
</script> -->

</html>